###################################################################################################
#  mod-war-games
#
#  Teri Glozilk 安排战争游戏：两组之间的私人竞技场比赛。
#  队伍领袖选择一个竞技场并指定对方领袖；
#  一旦该领袖接受，双方名单都会被送入一个全新的私人副本。
#  私人比赛从不计入评级，从不进入公共队列，也不给予竞技场点数。
#
#  可用的有纳格兰竞技场、刀锋山竞技场和洛丹伦废墟。Teri 列表中的十二个自定义 Ascension
#  竞技场会显示，但在其地图被恢复之前会被拒绝。
#
#  此代码是 AzerothCore 项目的一部分。版权信息请参见 AUTHORS 文件。
###################################################################################################

[worldserver]

#    WarGames.Enable
#        Description: Teri Glozilk 是否安排战争游戏。
#        Default:     1 - (Enabled)
#                     0 - (Disabled; Teri 不显示战争游戏菜单)
WarGames.Enable = 1
